.task-item{
    width: 100%;
    margin-bottom: 5px;
    background: #003D52;
    padding: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
}
.task-title{
    cursor: pointer;

    text-align: center;
    
}
.deleteTask{
    width: 22px;
    height: 100%;
    text-align: center;
    border-radius: 8px;
    font-size: 10px;
    cursor: pointer;
    padding: 4px;
    font-weight: bold;
    background: #c20720;
    transition: 0.7s all;
    z-index: 99;
}

.deleteTask:hover{
   
    background: #5d0511;
}
.completed{
    color: #14dd14;
}